# Python
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
venv/
.env/
*.venv

# Pygame-specific
*.log
*.dat
*.sav
*.db

# Compiled files
*.class
*.o
*.out
*.a
*.lo
*.la
*.al
*.libs

# OS-specific
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-*